<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El Poyo</title>
  <!--
        uncomment for brus
        <link rel="stylesheet" href="/css/style.css">
      -->
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/about.css">
  <link rel="stylesheet" href="../static/css/card-coll2.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <!--
      uncomment for brus
      <link rel="icon" type="image/x-icon" href="/img/just-logo.svg">
    -->
  <link rel="shortcut icon" href="../static/img/just-logo.svg" type="image/x-icon">
</head>

<body>
  <header class="title">
    <img id="just-logo" src="../static/img/just-logo.svg" alt="Logo El Poyo">
    <img id="poyo-logo" src="../static/img/poyo-logo.svg" alt="Big logo El Poyo">

    <!--
    images for brus
    <img id="just-logo" src="/img/just-logo.svg" alt="Logo El Poyo">
    <img id="poyo-logo" src="/img/poyo-logo.svg" alt="Big logo El Poyo">
    -->
    <div class="links">
      <a href="users-list.html">Usuarios</a>

      <!--
        link for brus
        <a href="users">Usuarios</a>
        -->
      <a href="">Sobre nosotros</a>
    </div>
  </header>
  
  <div class="container">

    <div class="collaborator-2">
      <div class="img-2"></div>
      <div class="glass">
        <h2 class="col-name">Jorge Joshua Trejo Joto</h2>
        <p class="col-roll">Backend Developer</p>
        <p class="col-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quidem alias optio illo facilis itaque recusandae sunt, ex iste commodi? Ipsa obcaecati temporibus mollitia odit ab consequatur consequuntur est nam.</p>
        <div class="social-2">
          <div class="social-network-2 sn12"></div>
          <div class="social-network-2 sn22"></div>
          <div class="social-network-2 sn32"></div>
          <div class="social-network-2 sn42"></div>
        </div>
      </div>
    </div>

    <div class="collaborator">
      <h2>Brandon Avendaño Villegas</h2>
      <p class="roll">Backend Developer</p>
      <div class="photo">
        <div class="img cl1"></div>
        <div class="social">
          <div class="social-network sn1"></div>
          <div class="social-network sn2"></div>
          <div class="social-network sn3"></div>
          <div class="social-network sn4"></div>
        </div>
      </div>
      <p class="about-me">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tenetur eligendi commodi reiciendis distinctio. Itaque repellat nesciunt praesentium ut. Incidunt! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae nihil amet nostrum quidem expedita sint vel incidunt atque commodi.
      </p>
    </div>
  
    <div class="collaborator">
      <h2>Violeta Gallegos Chuc</h2>
      <p class="roll">Frontend Developer</p>
      <div class="photo">
        <div class="img cl3"></div>
        <div class="social">
          <div class="social-network sn1"></div>
          <div class="social-network sn2"></div>
          <div class="social-network sn3"></div>
          <div class="social-network sn4"></div>
        </div>
      </div>
      <p class="about-me">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tenetur eligendi commodi reiciendis distinctio. Itaque repellat nesciunt praesentium ut. Incidunt!</p>
    </div>
    
    <div class="collaborator">
      <h2>Jorge Joshua Trejo Weboz</h2>
      <p class="roll">Backend Developer</p>
      <div class="photo">
        <div class="img cl2"></div>
        <div class="social">
          <div class="social-network sn1"></div>
          <div class="social-network sn2"></div>
          <div class="social-network sn3"></div>
          <div class="social-network sn4"></div>
        </div>
      </div>
      <p class="about-me">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tenetur eligendi commodi reiciendis distinctio. Itaque repellat nesciunt praesentium ut. Incidunt!</p>
    </div>
    <div class="collaborator">
      <h2>Bruno Cruz Granados</h2>
      <p class="roll">Frontend Developer</p>
      <div class="photo">
        <div class="img cl4"></div>
        <div class="social">
          <div class="social-network sn1"></div>
          <div class="social-network sn2"></div>
          <div class="social-network sn3"></div>
          <div class="social-network sn4"></div>
        </div>
      </div>
      <p class="about-me">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tenetur eligendi commodi reiciendis distinctio. Itaque repellat nesciunt praesentium ut. Incidunt!</p>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../static/js/index.js"></script>
  <!--
  uncomment for brus
  <script src="/js/index.js"></script>
-->
</body>

</html>