<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El Poyo</title>
  <!--
        uncomment for brus
        <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/card-coll.css">
      -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/about.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

  <!--
      uncomment for brus
      <link rel="icon" type="image/x-icon" href="/img/just-logo.svg">
    -->
  <link rel="shortcut icon" href="/img/just-logo.svg" type="image/x-icon">
</head>

<body>
<header class="title">
  <img id="just-logo" src="/img/just-logo.svg" alt="Logo El Poyo">
  <img id="poyo-logo" src="/img/poyo-logo.svg" alt="Big logo El Poyo">
  <img id="poyo-white" src="/img/poyo-white.svg" alt="Big logo Poyo white">

  <!--
  images for brus
  <img id="just-logo" src="/img/just-logo.svg" alt="Logo El Poyo">
  <img id="poyo-logo" src="/img/poyo-logo.svg" alt="Big logo El Poyo">
  -->
  <div class="links">
    <a href="users">Usuarios</a>

    <!--
      link for brus
      <a href="users">Usuarios</a>
      -->
    <a href="https://github.com/jorgejoshuatt/JavaSpring-Usuarios-CosmosDB" target="_blank">Repositorio</a>
  </div>
</header>

<div class="cards">

  <div id="yosh" class="collaborator-card">
    <div class="collaborator-photo photo-yosh"></div>
    <div class="collaborator-glass">
      <h2 class="col-name">Jorge Joshua Trejo Martinez</h2>
      <p class="col-roll">Backend Developer</p>
      <p class="col-description">Ingeniero en computación graduado de FES Aragón, especializado en el desarrollo de software como backend developer. Mi enfoque es la creación de soluciones tecnológicas efectivas y escalables, ofreciendo soluciones innovadoras y eficientes para cualquier desafío tecnológico.</p>
      <div class="social">
        <a class="social-network sna1" href="https://www.github.com/jorgejoshuatt" target="_blank">
          <div class="sn1"></div>
          <span>Github</span>
        </a>
        <a class="social-network sna2" href="https://www.linkedin.com/in/jorge-joshua-trejo-aa4830243" target="_blank">
          <div class="sn2"></div>
          <span>LinkedIn</span>
        </a>
        <a class="social-network sna3" href="https://twitter.com/jorgejoshuat" target="_blank">
          <div class="sn3"></div>
          <span>Twitter</span>
        </a>
        <a class="social-network sna4" href="http://www.instagram.com/jorgejoshuat" target="_blank">
          <div class="sn4"></div>
          <span>Instagram</span>
        </a>
      </div>
    </div>
  </div>

  <div id="brandon" class="collaborator-card">
    <div class="collaborator-photo photo-brandon"></div>
    <div class="collaborator-glass">
      <h2 class="col-name">Brandon Avendaño Villegas</h2>
      <p class="col-roll">Backend Developer</p>
      <p class="col-description">Ingeniero recién egresado, comprometido y versátil con experiencia en el desarrollo de software, ofreciendo soluciones agiles y profesionales en la creacion de aplicaciones de escritorio y Web. Con Experiencia trabajando dentro de un ambiente empresarial, en la solución de temas de Red, SW y SO.</p>
      <div class="social">
        <a class="social-network sna1" href="https://github.com/LanIkari" target="_blank">
          <div class="sn1"></div>
          <span>Github</span>
        </a>
        <a class="social-network sna2" href="https://www.linkedin.com/in/brandon-avendano-villegas/" target="_blank">
          <div class="sn2"></div>
          <span>LinkedIn</span>
        </a>
        <a class="social-network sna3" href="https://twitter.com/Brandon_Ikari" target="_blank">
          <div class="sn3"></div>
          <span>Twitter</span>
        </a>
        <a class="social-network sna4" href="https://www.instagram.com/lan_ikari/" target="_blank">
          <div class="sn4"></div>
          <span>Instagram</span>
        </a>
      </div>
    </div>
  </div>

  <div id="brus" class="collaborator-card">
    <div class="collaborator-photo photo-brus"></div>
    <div class="collaborator-glass">
      <h2 class="col-name">Bruno Cruz Granados</h2>
      <p class="col-roll">Frontend Developer</p>
      <p class="col-description">Estudiante de ingeniería y desarrollador web. Me encanta construir sitios web y me mantengo al día con las últimas tecnologías. Usando HTML, CSS, JavaScript, NodeJS y ReactJS, creo aplicaciones web ricas en funcionalidades. Estoy comprometido con la mejora continua de la calidad de mis productos.</p>
      <div class="social">
        <a class="social-network sna1" href="https://github.com/brus2099" target="_blank">
          <div class="sn1"></div>
          <span>Github</span>
        </a>
        <a class="social-network sna2" href="https://www.linkedin.com/in/brus2099/" target="_blank">
          <div class="sn2"></div>
          <span>LinkedIn</span>
        </a>
        </a>
      </div>
    </div>
  </div>

</div>

<div class="preventing-horizontal">
  <img id="poyo-white" src="/img/poyo-white.svg" alt="Big logo white El Poyo">
  <p>El Poyo se visualiza mejor verticalmente</p>
  <img id="rotate" src="/img/girar-pantalla (1).png" alt="Rotar pantalla">
</div>
<script src="/js/about.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--
uncomment for brus
<script src="/js/index.js"></script>
-->
</body>

</html>