<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El Poyo</title>
  <!--
        uncomment for brus
      <link rel="stylesheet" href="../static/css/style.css">
      -->
  <link rel="stylesheet" href="/css/my-normalize.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/style.css">
  
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <!--
      uncomment for brus
    <link rel="shortcut icon" href="../static/img/just-logo.svg" type="image/x-icon">
    -->
  <link rel="icon" type="image/x-icon" href="/img/just-logo.svg">
</head>

<body>
  <header class="title">
    <img id="just-logo" src="/img/just-logo.svg" alt="Logo El Poyo">
    <img id="poyo-logo" src="/img/poyo-logo.svg" alt="Big logo El Poyo">

    <!--
      images for brus
    <img id="just-logo" src="../static/img/just-logo.svg" alt="Logo El Poyo">
    <img id="poyo-logo" src="../static/img/poyo-logo.svg" alt="Big logo El Poyo">
    -->
    <div class="links">
      <a href="../../">Registrarse</a>
      <a href="../">Usuarios</a>

      <!--
          link for brus
          <a href="users-list.html">Usuarios</a>
        -->
    </div>
  </header>
  <div class="big-block">
    <section class="content">
      <p>Actualiza los datos de tu cuenta.</p>
      <img src="/img/Paypal_Monochromatic.png" alt="Prices">
      <!--
          image for brus
        <img src="../static/img/Paypal_Monochromatic.png" alt="Prices">
        -->
    </section>
    
    <form class="form" autocomplete="off">
      <p class="form-title">Registrate</p>

      <label class="label" for="username">Nombre de Usuario</label>
      <input name="username" id="username" type="text" autocomplete="off">
      <p class="warnings" id="warning-username">Un momento...</p>

      <label class="label" for="email">Correo electrónico</label>
      <input name="email" id="email" type="email" autocomplete="off">
      <p class="warnings" id="warning-email">Un momento...</p>

      <label class="label" for="password">Contraseña</label>
      <input type="password" name="password" id="password" autocomplete="off">
      <div class="password-warnings">
        <p class="warnings">De 8 a 32 caracteres</p>
        <p class="warnings">Al menos una letra mayúscula</p>
        <p class="warnings">Al menos un número</p>
        <p class="warnings">Al menos un carácter especial</p>
        <p class="warnings">No puede haber dos caracteres iguales juntos</p>
      </div>

      <label class="label" for="password-conf">Confirmar contraseña</label>
      <input type="password" name="password-conf" id="password-conf" autocomplete="off">
      <p class="warnings" id="warning-passconf">Las contraseñas no coinciden</p>

      <div class="buttons">
        <button type="reset">Borrar</button>
        <button id="save">Guardar</button>
        <div />
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/warnings.js" nomodule></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <!--
uncomment for brus
<script src="../static/js/index.js"></script>
-->
</body>

</html>