<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El Poyo</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/css/my-normalize.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/users-list.css">
  <link rel="icon" type="image/x-icon" href="/img/just-logo.svg">
  <!--
      uncomment for brus
  <link rel="stylesheet" href="../static/css/users-list.css">
    <link rel="shortcut icon" href="../static/img/just-logo.svg" type="image/x-icon">
  -->
</head>

<body>
  <header class="title">
    <img id="just-logo" src="/img/just-logo.svg" alt="Logo El Poyo">
    <img id="poyo-logo" src="/img/poyo-logo.svg" alt="Big logo El Poyo">

    <div class="links">
      <a href="../">Registrarse</a>
      <a href="../about">Sobre nosotros</a>
    </div>
  </header>

  <div class="all-content">
    <section class="content-info">
      <img src="/img/Paypal_Monochromatic.png" alt="Prices">
      <!--
          uncomment for brus
        <img src="../static/img/Paypal_Monochromatic.png" alt="Prices">
        -->
      <p>Localiza y modifica los datos que ingresaste</p>
    </section>

    <div class="content-table">
      <p class="heading">Usuarios registrados</p>

      <table class="table">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Correo electrónico</th>
            <th>#</th>
          </tr>
        </thead>

        <tbody id="insert-user">
          <!--
          <div class="loader" id="loading">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <span>Cargando usuarios...</span>
          </div>
          -->

          <tr class="table-row">
            <td class="table-label" data-label="Usuario">Prueba 1</td>
            <td data-label="Email">correotext.text.text.text.text@correo.com</td>
            <td class="row-btns">
              <button data-userid="${user.id}" class="button edit-btn">✏️</button>
              <button data-userid="${user.id}" class="button delete-btn">🗑️</button>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-label" data-label="Usuario">Prueba2Prueba2Prueba2Prueba2Prueba2</td>
            <td data-label="Email">correo@correo.com</td>
            <td class="row-btns">
              <button data-userid="${user.id}" class="button edit-btn">✏️</button>
              <button data-userid="${user.id}" class="button delete-btn">🗑️</button>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-label" data-label="Usuario">Prueba3</td>
            <td data-label="Email">correo@correo.com</td>
            <td class="row-btns">
              <button data-userid="${user.id}" class="button edit-btn">✏️</button>
              <button data-userid="${user.id}" class="button delete-btn">🗑️</button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/users.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <!--
  uncomment for brus
<script src="../static/js/users.js"></script>
-->
</body>

</html>