<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>El Poyo 🧛‍♀️</title>
  <link rel="shortcut icon" href="../../static/img/collaborators/yosh.jpg" type="image/x-icon">
  <link rel="stylesheet" href="test.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <section class="Title">
        <div class="textBxME">
          <h2>Avendaño Villegas Brandon</h2>
          <h3>Desarrollador Web</h3>
        </div>
      </section>

      <div></div>
      <p></p>
      <button></button>
      <a href=""></a>
      <li></li>
      <img src="" alt="">
      <input type="text">

      wevoz pendejo
        .l.
      ./. .\.   ({i})
</body>

</html>