* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffef6;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 20px 25px;
  border: 1px solid red;
}

header img {
  width: 60px;
}

.content {
  padding: 20px;
  margin: 25px;
  color: #003165;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.content p {
  margin: 20px;
}

/* Provisional size */
.content img {
  width: 60%;
}

.form {
  background: #FFF2D8;
  padding: 45px 30px;
  margin: 25px;
  border-radius: 20px;
  border: 1px solid red;
}

.form p {
  font-weight: 600;
  font-size: 24px;
  color: #003165;
  margin: 10px 0 25px 0;
}

.form label {
  display: block;
  color: #888;
  font-size: 12px;
  height: 24px;
  width: fit-content;
  transition: 0.1s all;
}

.form input {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #003165;
  display: block;
  width: 100%;
  height: 26px;
  padding: 3px 0;
  margin: 0 0 25px 0;
  transition: 0.1s all;
}

.form label:hover {
  display: block;
  color: #003165;
  font-size: 16px;
  height: 24px;
}

.form input:focus {
  border-bottom: 3px solid #003165;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons button {
  color: #003165;
  background: none;
  border: 1px solid #003165;
  border-radius: 10px;
  width: 130px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s all;
}

.buttons button:hover, .butons button:active {
  background: #003165;
  color: #FFAA00;
}
