* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffef6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* This content doesn't change for any window */
header {
  margin: 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#just-logo {
  width: 70px;
}

#poyo-logo {
  display: none;
}

.links {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.links a {
  color: #003165;
  text-decoration: none;
  margin: 0 25px;
  border: none;
  height: 26px;
  transition: 0.1s color, 0.1s border;
}

.links a:hover,
.links a:active {
  color: #FFAA00;
  border-bottom: 2px solid #003165;
}

.big-block {
  max-width: 600px;
  margin: 25px;
}

.content {
  padding: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content p {
  font-weight: 600;
  color: #003165;
  margin: 20px;
  font-size: 20px;
}

.content img {
  width: 60%;
}

/* Table styles */

.table-container {
  max-width: 700px;
  margin: 20px 0;
}

.table-container .heading {
  font-weight: 600;
  font-size: 24px;
  color: #003165;
  margin: 10px 0 25px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  display: none;
}

.table tbody tr {
  margin: 15px 0;
  border-radius: 13px;
  transition: 0.1s background-color;
}

.table tbody tr:hover {
  background-color: #FFF2D8;
}

.table, .table tbody, .table tr, .table td {
  display: block;
}

.table td {
  padding: 8px;
  border-bottom: 1px solid #003165;
  margin: 0 8px;
  text-align: right;
  position: relative;
}

.table td:last-child {
  border: none;
}

.table td::before {
  content: attr(data-label);
  position: absolute;
  left: 0;
  padding-left: 15px;
}

.table .row-btns {
  text-align: center;
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: 0.1s height, 0.1s padding;
}

.table tr:hover .row-btns {
  height: 50px;
}

button {
  color: #003165;
  background: none;
  width: 36px;
  height: 36px;
  border: 1px solid #003165;
  border-radius: 8px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.1s background-color, 0.1s color;
}

button:hover,
button:active {
  background-color: #003165;
  color: #FFAA00;
}

@media only screen and (min-width: 769px) {

  .big-block {
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  #just-logo {
    display: none;
  }

  #poyo-logo {
    display: block;
    height: 70px;
  }

  header {
    width: 80vw;
    flex-direction: row;
    justify-content: space-between;
  }

  .form {
    width: 40vw;
    order: 1;
    flex-grow: 1;
    margin: 0;
  }

  .content {
    width: 36vw;
    padding: 0;
    margin: 0 2vw;
    justify-content: center;
    order: 2;
    flex-grow: 3;
  }

  .big-display {
    width: 1024px;
    background: #003165;
    color: #fff;
  }
}

@media only screen and (min-width: 1025px) {

  header {
    width: 1024px;
  }

  .form {
    width: 480px;
  }

  .content {
    width: 540px;
  }

}