/* loading animation */
.loader {
  width: 120px;
  height: 75px;
  margin: 170px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.loader span {
  font-size: 22px;
  font-family: sans-serif;
  text-align: center;
  color: #003165;
  margin: auto;
}

.ball {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #003165;
  animation: bounce .5s alternate infinite;
}

.ball:nth-child(2) {
  animation-delay: .16s;
}

.ball:nth-child(3) {
  animation-delay: .32s;
}

@keyframes bounce {
  from {
    transform: scaleY(.6)
  }

  to {
    transform: translateY(-50px) scaleX(1);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -36px 0 0 -36px;
  height: 72px;
  width: 72px;
  border: 8px dotted #003165;
  border-radius: 100%;
  animation: loading 2s infinite linear;
}

/* starting the design from page from scratch */
/* since 'allcontent' */

.all-content {
  display: flex;
  flex-direction: column;
  padding: 20px 5px;
  max-width: 500px;
}

.content-info {
  margin: 0 auto 20px;
}

.content-info-inner {
  font-weight: 600;
  font-size: 20px;
  color: #003165;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}

.content-info-inner img {
  width: 60%;
  margin: 0 auto;
}

.heading {
  font-weight: 600;
  font-size: 24px;
  color: #003165;
  margin: 15px 0;
}

.table {
  width: 100%;
  font-size: 14px;
}

.table thead {
  display: none;
}

#insert-user tr {
  margin: 00px 0px 10px;
  background-color: #FFF2D8;
  padding: 5px 4px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 60px 1fr 0px;
  overflow: hidden;
  grid-template-rows: repeat(2, fit-content);
}

#insert-user td {
  margin: 1px 2px;
}

td[data-label="Usuario"] {
  grid-column: 2 /3;
  grid-row: 1 /2;
  height: fit-content;
  word-wrap: break-word;
  word-break: break-all;
  text-align: end;
}

td[data-label="Email"] {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  word-wrap: break-word;
  word-break: break-all;
  text-align: end;
}

.row-btns {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.newLabelUser {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: fit-content;
}

.newLabelEmail {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.row-btns {
  height: 46px;
}

.button {
  font-size: 12px;
  height: 21px;
  text-align: center;
  background: none;
  border-radius: 3px;
  border: 1px solid #FFAA00;
}

/* hover effects */
#insert-user tr,
.button {
  transition: 0.1s background-color;
}

.newLabelUser,
.newLabelEmail,
td[data-label="Usuario"],
td[data-label="Email"] {
  transition: 0.1s color;
}

#insert-user tr:hover {
  background-color: #003165;
  grid-template-columns: 60px 1fr 27px;
}

#insert-user tr:hover .newLabelUser,
#insert-user tr:hover .newLabelEmail {
  color: #fff;
}

#insert-user tr:hover td[data-label="Usuario"],
#insert-user tr:hover td[data-label="Email"] {
  color: #FFAA00;
}

.button:hover {
  background-color: #FFAA00;
}

/* media queries */
@media only screen and (min-width: 769px) {
  .all-content {
    flex-direction: row-reverse;
    align-items: start;
    justify-content: space-between;
    max-width: none;
    width: 80vw;
  }

  .content-info {
    min-width: 250px;
  }

  .content-info-inner {
    position: fixed;
    width: 250px;
  }

  .content-info-inner img {
    width: 80%;
  }

  .content-table {
    width: 530px;
  }
}

@media only screen and (min-width: 1025px) {
  .all-content {
    width: 1000px;
  }

  .content-info {
    min-width: 280px;
  }

  .content-info-inner {
    width: 280px;
  }

  .content-info-inner img {
    width: 100%;
  }

  .content-table {
    width: 680px;
  }

  /* fixing table to have its normal table view */

  .table thead {
    display: unset;
  }

  .table thead tr {
    display: grid;
    grid-template-columns: 120px 1fr 70px;
    grid-template-rows: 1fr;
  }

  .table thead tr th {
    margin: 1px 2px;
    padding: 6px;
    font-weight: 600;
    font-size: 1rem;
    color: #003165;
    text-align: start;
  }

  .newLabelUser,
  .newLabelEmail {
    display: none;
  }

  #insert-user tr,
  #insert-user tr:hover {
    grid-template-columns: 120px 1fr 60px;
  }

  #insert-user tr {
    grid-template-rows: 1fr;
    padding: 6px;
    border-radius: 6px;
  }

  td[data-label="Usuario"],
  td[data-label="Email"],
  .row-btns {
    grid-row: 1 / 2;
  }

  td[data-label="Usuario"] {
    grid-column: 1 / 2;
    height: initial;
    word-wrap: initial;
    word-break: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
  }

  td[data-label="Email"] {
    grid-column: 2 / 3;
    height: initial;
    word-wrap: initial;
    word-break: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
  }

  .row-btns {
    grid-column: 3 / 4;
    flex-direction: row;
    height: 22px;
  }

  .button {
    font-size: 14px;
    height: 25px;
    width: 25px;

  }

}